/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 1:04:34 AM
    Author     : adamgray
*/

body{
    background-image:url('../images/page/nice_snow.png');
    background-repeat: repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
a:hover{
    text-decoration: underline;
}

h1{
    color: #1F7E8C;
    font-size: 30px;
    font-weight: normal;
}

h2{
    color: #1F7E8C;
    font-size: 18px;
}
#nav{
    width: 1000px;
    margin: auto;
}
#nav ul{
    list-style-type:none;
    margin:0px 0px 3px -40px;
}

#nav li{
    display: inline-block;
    background-color: #1F7E8C;
    color: white;
    padding: 5px 10px 5px 10px;
}

#nav li:hover{
    background-color: #29A0B6;
}

#header{
    background-color: white;
    box-shadow: 0px 5px 5px #888888;
    width: 1000px;
    height: 75px;
    margin: auto;
    padding-top: 50px;
}

.search-bar{
    width: 390px;
    -webkit-appearance: none;
    border: 0;
    outline: none;
    outline-offset: 0;
    background-color:transparent;

}

.search-bar-box{
    display: inline-block;
    width: 400px;
    background-color: #EEEEEE;
    height: 30px;
    font-size: 20px;
    font-weight: 300; 
}

.button-green{
    display: inline-block;
    background-color: #1F7E8C;
    font-size: 14px;
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    color: white;
}

.button-green:hover{
    background-color: #29A0B6;
}

#header-left{
    display: inline-block;
    width: 250px;
    text-align: center;
}

#header-middle{
    display: inline-block;
    width: 700px;
    text-align: center;
}
#contentContainer{
    background-color: white;
    box-shadow: 0px 5px 5px #888888;
    width: 1000px;
    margin: auto;
}

#content{
    margin: 0px 50px 0px 50px;
    
}

.container-headings{
    color: #1F7E8C;
    font-size: 24px;
}

.normal-light-grey{
    color: #999999;
    font-size: 12px;
}

.normal-light-green{
    color: #1F7E8C;
    font-size: 12px;
}

.think-dark-green-med{
    color: #1F7E8C;
    font-weight: 700;
}

.normal-dark-grey-thin{
    color: #888888;
    font-size: 18px;
    font-weight: 500;
}

.dark-green-bold{
    color: #1F7E8C;
    font-weight: bold;
}

.dark-yellow-bold{
    color: #D7B100;
    font-weight: bold;
}
#footer{
    background-color: #3c3b3b;
    box-shadow: 0px 5px 5px #888888;
    font-size: 10px;
    color: #b0adad;
    width: 1000px;
    margin: auto;
    padding: 10px 0px;
}

#footer a{
    color: #b0adad;
    font-size: 10px;
}

#footer a:hover{
    color: white;
}

.blueberry{
    width: 1000px;
}

.clear-container{
    max-width: 600px;
    margin-bottom: 50px;
}

.black-container{
    background-color: #404040;
    color: white;
}

.green-container{
    background-color: #29A0B6;
    color: white;
}

.gold-container{
    background-color: #D7B100;
    color: white;
}
